.Card{
    align-items: center;
    padding: 100px;
    border-width:5px;  
    border-style:outset;
    width: 40%;
    margin: 40px;
    background: slategray;
    color: white;

}
span{

    font-size: 4rem;
    color: greenyellow;
}

h2{
    font-family: 'Poller One', cursive;
    border-style:outset;
    border-bottom-color: black;
}
.meta{
    padding: 25px;
    border-style:outset;
    border-bottom-color: black;
 
}
.description{
    padding: 25px;
    border-bottom-color: black;
    border-style:outset;
}